
.login{:style => "color: white; margin: auto;width: 100%;padding: 50px;"}
  %h2 Location Exploration
  %br
  %br
  .card#card_select{:style => "color: black;margin: auto;padding: 10px;"}
    .card-body
      .parent
        .child-float-left-child{:style => "float: left; padding-top: 100px;"}
          = form_with(url: nearby_result_path, method: 'get', local: true) do |f|
            .form-group
              %h1 Exploring Locations
              = label_tag :name, 'Location Name'
              = text_field_tag :name, nil, placeholder: 'eg. London', class: 'form-control'
              %br
              = label_tag :categories, 'Location Categories'
              - cat_options = [["Arts and Entertainment","10000"], ["Business and Professional Services","11000"],["Community and Government","12000"],["Dining and Drinking", "13000"],["Event","14000"],["Health and Medicine", "15000"],["Landmarks and Outdoors", "16000"],["Retail","17000"],["Sports and Recreation","18000"],["Travel and Transportation", "19000"]]
              = f.select(:categories, cat_options, {required: "required"}, class: "form-select w-100%")

            %br
            = button_tag 'Search', class: 'btn btn-success btn-block'
            %br
            %br
        .child-float-left-child{:style => "float: left; margin-left: 100px;"}
          %iframe{:src => "https://www.ordnancesurvey.co.uk/demos/high-streets/high-streets/index.html#7.59/51.921/-1.548", :style => "height:753px; width:1200px; border:none; margin-top: 30px;", :title => "High streets"}

%br
%br