.cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
  %header.masthead.mb-auto
    .inner
      %h3.masthead-brand{:style => "color: white;"} LORECO
      %nav.nav.nav-masthead.justify-content-center
        %a.nav-link.home{:href => "user_option", :style => "color: white;"} Get Started
        %a.nav-link.home{:href => "restaurant_search", :style => "color: white;"} Explore Locations of Interests
        %a.nav-link.home{:href => "#", :style => "color: white;"} Features Introduction
        %a.nav-link.home{:href => "#", :style => "color: white;"} Contact
  // If user signed in
  - if current_user
    %main.inner.cover{:role => "main"}
      %h1.cover-heading{:style => "color: white;"} Location Recommendation for Restaurants
      %p.lead{:style => "color: white;"} WELCOME BACK
    // if not signed in
  - else
    %main.inner.cover{:role => "main"}
      %h1.cover-heading{:style => "color: white;"} Location Recommendation for Restaurants
      %p.lead{:style => "color: white;"} WELCOME TO LORECO
      #row{:style => "width: 100%; margin: 0 auto;"}
        #block{:style => "width: 100px; display: inline-block;"}
          = button_to "Sign up", new_user_registration_path, :class => "btn btn-success btn-dark", method: :get
        #block{:style => "width: 100px; display: inline-block;"}
          = button_to "Login", new_user_session_path, :class => "btn btn-success btn-dark", method: :get


  %footer.mastfoot.mt-auto
    .inner
      %p{:style => "color: black;"}
        Please Read
        = succeed "," do
          %a{:href => "#"} Terms and Agreement
        = succeed "," do
          %a{:href => "#"} Privacy Policy
      %p{:style => "color: black;"}
        = succeed "" do
          %a This is a Final Year Project from the University of Surrey

%script{:crossorigin => "anonymous", :integrity => "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", :src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
:javascript
  window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')