.container
    .row.mt-4
        - @nearby_results["results"].each do |restaurant|
            .col-sm-3.mb-4
                .card.h-100{:style => "width: 18rem;"}
                    - if  restaurant["photos"][0] == nil
                        %img.card-img-top{:alt => "Restaurant image", :src => "https://img.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg?w=1800&t=st=1651250824~exp=1651251424~hmac=3f2bd303f1048ad7eb4c54fe74bbc7e3cbd8cc4bbc56c94dfb44eb5a51ccda81"}/
                    - else
                        %img.card-img-top{:alt => "Restaurant image", :src => (restaurant["photos"][0]["prefix"] + "original" + restaurant["photos"][0]["suffix"] ) , :width => 256, :height => 171}
                    .card-body
                        %h5.card-title #{restaurant["name"]}
                        - if  restaurant["rating"] == nil
                            %p.card-text 
                        - else 
                            %p.card-text Ratings: #{restaurant["rating"]}
                        %p.card-text
                            Address: 
                            = restaurant["location"]["formatted_address"]
                        - restaurant["categories"].each do |type|
                            %span.badge.bg-success #{(type["name"].to_s).gsub("_"," ")}
                        %br
                        %br
                        %a.btn.btn-primary{:href => URI.encode("https://maps.google.com/?q=#{restaurant["name"]},#{restaurant["location"]["formatted_address"]}"), :style => "color:#FFF;"} Discover

%br

%br