= include_gon
%head
    %style    

%body{:onload => "init()"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
    :javascript
        function init(){

            // Add result category names dynamically to filter
            console.log("loading");
            var selectElement = document.getElementById('categoryselect');
            var results = gon.nearby_places["results"];
            console.log(results);
            // for each read category names
            for (var i = 0; i < Object.keys(results).length; i++) {
                category_name = String(results[i]["categories"][0]["name"]);
                // add to select
                selectElement.add(new Option(category_name));
            }
            const options = []
            document.querySelectorAll('#categoryselect > option').forEach((option) => {
                if (options.includes(option.value)){
                    option.remove();
                    console.log("Removed object")
                } 
                else options.push(option.value)
            })
        }

        // function to return filtered values according to select tag filter
        function returnFilter(){
            // show something according to selected values
            var location_cat_val = $('#categoryselect').val();
            console.log([gon.nearby_places["results"]]);
            original_data = gon.nearby_places["results"];
            filtered_data = [];

            // Check through every restaurant in json
            if (location_cat_val != "All"){
                for (let i = 0; i < original_data.length; i++) {
                // If selected option All add everything in
                var filterBy = {
                    name: [location_cat_val]
                };

                var result = original_data[i].categories.filter(function (o) {
                    if(o.name === filterBy.name[0]){
                        console.log("Found:" + (i));
                        filtered_data.push(original_data[i]);
                    }
                    return i;
                });
            }
            // Check every category layer for each restaurant and see if any chosen one fits
            } else {
                for (let i = 0; i < original_data.length; i++) {
                    filtered_data.push(original_data[i]);
                }
            }

            console.log(filtered_data);
            return filtered_data;
        }

        // function to return filtered values according to select tag sort
        function returnSort(filtered_data){
            // show something according to selected values

            var sortVal = $('#sortselect').val();
            console.log(sortVal);

            sorted_data = [];

            // Check through every restaurant in json
            if (sortVal == "Distance"){
                for (let i = 0; i < original_data.length; i++) {
                // If selected option All add everything in
                var filterBy = {
                    name: [location_cat_val]
                };

                var result = original_data[i].categories.filter(function (o) {
                    if(o.name === filterBy.name[0]){
                        console.log("Found:" + (i));
                        filtered_data.push(original_data[i]);
                    }
                    return i;
                });
            }
            // Check every category layer for each restaurant and see if any chosen one fits
            } else if (sortVal == "Rating"){
                for (let i = 0; i < original_data.length; i++) {
                    filtered_data.push(original_data[i]);
                }
            } else {

            }

            console.log(filtered_data);
            return filtered_data;
        }

        function categoryselect(){

            // First filter then sort
            // Filter
            filtered_data = returnFilter();
            // Sort

            // change inner html according to filter array objects
            innerHtml = '<style> .card-img-top {width: 100%;height: 15vw;object-fit: cover;} </style><div class="container"><div class="row mt-4">';
            for (let i = 0; i < filtered_data.length; i++) {
                innerHtml += '<div class="col-sm-3 mb-4">';
                innerHtml += '    <div class="card h-100" style="width: 18rem;  position: relative;">';
                    if (filtered_data[i]["photos"][0] == null){
                        innerHtml += '<img alt="Restaurant image" class="card-img-top w-auto" src="https://img.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg?w=1800&t=st=1651250824~exp=1651251424~hmac=3f2bd303f1048ad7eb4c54fe74bbc7e3cbd8cc4bbc56c94dfb44eb5a51ccda81"/>';
                        innerHtml += '<div class="text-block" style="position: absolute; top: 10%;left: 0px;background-color: black;color: white;padding-left: 20px;padding-right: 20px;opacity: 0.7;"><br><h5>'+filtered_data[i]["name"]+'</h5><p>'+filtered_data[i]["categories"][0]["name"]+'</p><br></div>'
                    } else {
                        console.log(filtered_data[i]["photos"][0]["prefix"] + "original" + filtered_data[i]["photos"][0]["suffix"]);
                        innerHtml += '<img alt="Restaurant image" class="card-img-top w-auto" src="'+ filtered_data[i]["photos"][0]["prefix"] + 'original' + filtered_data[i]["photos"][0]["suffix"] + '"/>';
                    }
                innerHtml += '    <div class="card-body">';
                innerHtml += '        <h5 class="card-title"><b>'+filtered_data[i]["name"]+'</b></h5>';
                if (filtered_data[i]["rating"] != null){
                    innerHtml += '    <h6 class="card-text">Ratings: '+filtered_data[i]["rating"]+'</h6>';
                }
                innerHtml += '    <h6>Distance: '+ filtered_data[i]["distance"] +' (m)</h6>';
                if (filtered_data[i]["price"] != null){
                    innerHtml += '<h6>Price: '+ filtered_data[i]["price"]+'</h6>'
                }
                if (filtered_data[i]["popularity"] != null){
                    innerHtml += '<h6>Popularity: '+ filtered_data[i]["popularity"]+'</h6>'
                }
                innerHtml += '<p>Address: '+ filtered_data[i]["location"]["formatted_address"]+'</p>'
                for (let j = 0; j < filtered_data[i]["categories"].length; j++) {
                    innerHtml += '<span class="badge bg-success">'+ filtered_data[i]["categories"][j]["name"] +'</span> '
                }
                innerHtml += '    </div>';
                innerHtml += '    </div>';
                innerHtml += '</div>';
            };

            innerHtml += '</div></div>';
            document.getElementById("myHtml").innerHTML=innerHtml;
        }

        function sortselect(){
            

            filtered_data = returnFilter();
            returnSort(filtered_data);



        }

    %div#lad_option{ :style => "position: relative; margin: auto;padding: 10px; top: 10px;left: 40px;" }
        .card{:style => "width: 25rem;"}
            .card-body
                -# Options to choose which map to display, first filter or apply all, then sort, so everytime onchange apply filter first, then sort
                %h4 Places Filter
                %select#categoryselect{:onchange => "categoryselect()", :class => "form-select w-100%" }
                    %option{:disabled => "disabled", :hidden => "", :selected => "selected", :value => "none"} Select a location category to filter
                    %option{:value => "All"} All
                %br

                // For sorting, first filter or apply all, then sort, so everytime onchange apply filter first, then sort
                %h4 Sort by option
                %select#sortselect{:onchange => "sortselect()", :class => "form-select w-100%" }
                    %option{:value => "Distance"} Distance
                    %option{:value => "Popularity"} Popularity
                    %option{:value => "Rating"} Rating
                    %option{:value => "Price"} Price

    #myHtml.myHtml
        .container
            .row.mt-4
                - @nearby_results["results"].each do |restaurant|
                    .col-sm-3.mb-4
                        .card.h-100{:style => "width: 18rem; position: relative;"}
                            - if  restaurant["photos"][0] == nil
                                %img.card-img-top{:alt => "Restaurant image", :src => "https://img.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg?w=1800&t=st=1651250824~exp=1651251424~hmac=3f2bd303f1048ad7eb4c54fe74bbc7e3cbd8cc4bbc56c94dfb44eb5a51ccda81", :style => "width: 100%;height: 15vw;object-fit: cover;"}/
                                .text-block{:style => "position: absolute; top: 10%;left: 0px;background-color: black;color: white;padding-left: 20px;padding-right: 20px;opacity: 0.7;"}
                                    %br
                                    %h5 #{restaurant["name"]}
                                    %p #{restaurant["categories"][0]["name"]}
                                    %br
                            - else
                                %img.card-img-top{:alt => "Restaurant image", :src => (restaurant["photos"][0]["prefix"] + "original" + restaurant["photos"][0]["suffix"] ), :style => "width: 100%;height: 15vw;object-fit: cover;"}
                            .card-body
                                %h5.card-title 
                                    %b #{restaurant["name"]}
                                - if  restaurant["rating"] != nil
                                    %h6 Ratings: #{restaurant["rating"]}
                                %h6 Distance: #{restaurant["distance"]} (m)
                                - if  restaurant["price"] != nil
                                    %h6 Price: #{restaurant["price"]}
                                - if  restaurant["popularity"] != nil
                                    %h6 Popularity: #{restaurant["popularity"]}
                                %p.card-text
                                    %br
                                    Address: 
                                    = restaurant["location"]["formatted_address"]
                                - restaurant["categories"].each do |type|
                                    %span.badge.bg-success #{(type["name"].to_s)}
                                %br
                                %br
                                %a.btn.btn-primary{:href => URI.encode("https://maps.google.com/?q=#{restaurant["name"]},#{restaurant["location"]["formatted_address"]}"), :style => "color:#FFF;"} Discover

    %br

    %br