%head

%body
    %div#user_option{ :style => "  margin: auto;width: 50%;padding: 50px;" }
        .card{:style => "width: 100%;"}
            .card-body
                %h4 Select user options:
                %br
                -# = form_tag(activate_foobar_foobar_index_path, :method => :post) do

                = form_with url: lad_heatmap_path do |f|
                    %h5 Restaurant Category
                    = f.select(:rest_cat_value, ['Italian Restaurant', "Indian Restaurant","Japanese Restaurant","Thai Restaurant","British Restaurant","Chinese Restaurant","Vegetarian","Cafe","Pub"], {required: "required"}, class: "form-select w-100%")
                    %br
                    %br
                    %h5 Expected Overall Customer Food Acceptance
                    = f.select(:acceptance_value, [['Low',"0"], ["Medium","1"],["High","2"]], {required: "required"}, class: "form-select w-100%")
                    %br
                    %br
                    %h5 Price Range
                    = f.select(:price_seg_value, [["Cheap (0-8£)","0"], ["Moderate (8-16£)","1"],["Expensive (16-32£)","2"], ["Very Expensive (Equal or above 32£)","3"]],  {required: "required"}, class: "form-select w-100%") 
                    %br
                    .parent
                        %h5 Weekly Rent Acceptance Range (£)
                        .child-float-left-child{:style => "float: left; width: 30%;"}
                            = f.number_field(:rent_min,{min: 0, max: 9999,  class: "form-control", required: "required", style: "width: 100%;", placeholder: "Minimum"})
                        .child-float-left-child{:style => "float: left; margin-left: 50px; width: 30%;"}
                            = f.number_field(:rent_max, {min: 0, max: 9999,  class: "form-control", required: "required", style: "width: 100%;", placeholder: "Maximum"}) 
                    %br
                    %br
                    %br
                    = f.submit "Next", class: "btn btn-success btn-block"