<!DOCTYPE html>
<html>
  <head>
    <title>Loreco</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <%# flast alert part %>
    <% flash.each do |type, msg| %>
      <div class="alert alert-info" style="margin-bottom: 0px;">
        <%= msg %>
      </div>
    <% end %>

    <%# Navbar part %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="home" style="margin-left: 20px;">Loreco</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="user_option">Start<span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="restaurant_search">Explore</a>
          </li>

        </ul>
      </div>
    </nav>
    <progress class="progress is-small is-success" id="progress_bar" value= <%= url_path() %> max="100" style="width: 100%; height: 5px;"></progress>
    <%= yield %>



    <script>
      var progress_bar = document.getElementById("progress_bar");
      console.log(progress_bar.value);
      if(progress_bar.value == "0"){
        console.log("No need to show progress");
        progress_bar.style.display = "none";
      }
      
    </script>
  </body>
</html>
